<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	
</body>

<script id="tpl" type="text/mytpl">

<ul>
	<li v-for="(shop, index1) in bookshop">
		<h1 v-if="index1 === 0">{{shop.name}}</h1>
		<h1 v-else>aaaa</h1>
	</li>
</ul>

</script>

<script src="TemplateEngine.js"></script>
<script>
var TemplateEngine = new TemplateEngine("{{","}}");

var tpl = TemplateEngine(document.getElementById("tpl").innerHTML, {
	isActive:true, 
	hasError: false,  
	styleObject: {
		color: 'red',
		fontSize: '13px'   //不能用font-size,否则new Function编译报错
	},
	bookshop:[
		{
			name:"新华书店", 
			categories:[
				{
					name:"九年义务教育",
					books:[
						{
							name:"语文书",
							pages:800
						},
						{
							name:"数学书",
							pages:300,
							author:"教育局"
						},
						{
							name:"英语书",
							pages:300,
							wordCount:"10万"
						}
					]
				},
				{
					name:"高中",
					books:[
						{
							name:"五年高考",
							pages:500
						},
						{
							name:"三年模拟",
							pages:300
						}
					]
				}
			]
		},
		{
			name:"诚品书店", 
			categories:[
				{
					name:"web编程",
					books:[
						{
							name:"html入门到精通",
							pages:800
						},
						{
							name:"javascript权威指南",
							pages:300,
							author:"淘宝前端团队"
						},
						{
							name:"css禅意花园",
							pages:300,
						}
					]
				},
				{
					name:"中国历史",
					books:[
						{
							name:"近代史",
							pages:500
						},
						{
							name:"石器时代",
							pages:300
						}
					]
				}
			]
		}
	]
});

document.body.innerHTML = tpl;
console.log(tpl);

</script>
</html>
