<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<ul id="example-1">
  <li v-if="Math.random() > 0.5" v-for="item in ss[name]">
  Sorry
  </li>
<div v-else >
  Not sorry
</div>

</ul>

<form enctype="multipart/form-data" method="post">

<input type="file" name="file"/>

<input type="input" name="token" value="/Dwfh27KT1lni4xQwTaSPw==">

<input type="input" name="loginType" value="1">
<input type="input" name="type" value="2">
<input type="input" name="appType" value="1">
<input type="input" name="osType" value="2">
<input type="submit" value="提交" >
</form>

</body>
<script src="vue.js"></script>
<script>
var example1 = new Vue({
  el: '#example-1',
  data: {
	ss: {
		items: [
		  {message: 'Foo', show:0.5},
		  {message: 'Bar' }
		]
    },
	name:"items"
  }
})
</script>
</html>
